<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>AStA Copyclient</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCalendarsUsageDescription</key>
	<string>Used for scheduling or importing events</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleVersion</key>
	<string>39</string>
	<key>NSCameraUsageDescription</key>
	<string>Used if user wants to upload a photo directly from camera</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>NSContactsUsageDescription</key>
	<string>Used for getting contact info</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to choose file to upload from the media library</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Used to play music from Apple Music</string>
	<key>NSMotionUsageDescription</key>
	<string>Used for getting user motion</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Used for speech to text</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Used if app needs  the location all the time</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used when location is temporarily needed</string>
</dict>
</plist>
